{% extends 'layout.html' %}

{% block admin %}
    <ol class="breadcrumb">
        <li><a href="/admin">管理首页</a></li>
        <li class="active">文章修改</li>
    </ol>
    <div class="page-header">
        <h2><small>内容修改</small></h2>
    </div>

    <form method="post" role="form">
        <div class="form-group">
            <label for="exampleInputEmail1">分类:</label>
            <select class="form-control" name="category">
                {% for file in lists %}
                    {% if file._id.toString() == content.category  %}
                    <option value="{{ file._id.toString() }}" selected>{{ file.listname }}</option>
                    {% else %}
                    <option value="{{ file._id.toString() }}">{{ file.listname }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">标题:</label>
            <input type="text" value="{{ content.headline }}" class="form-control" name="headline" id="exampleInputEmail1" placeholder="请输入内容标题" name="stcname">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">简介:</label>
            <textarea class="form-control" rows="3" placeholder="请输入内容简介" name="intro">{{ content.intro }}</textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">内容:</label>
            <textarea class="form-control" rows="5"  placeholder="请输入内容" name="content" >{{ content.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>

{% endblock %}